#!/usr/bin/make -f

# redirect module to correct dist-packages dir
export PYBUILD_INSTALL_ARGS=--install-lib=/usr/lib/python2.7/dist-packages

override_dh_install:
	dh_install -O--buildsystem=pybuild
	#rm -rf $(CURDIR)/debian/openscap-daemon/usr/lib/python3/dist-packages/openscap_daemon/__pycache__
	#rm -rf $(CURDIR)/debian/openscap-daemon/usr/lib/python3/dist-packages/openscap_daemon/cve_scanner/__pycache__

%:
	dh $@ --with python2 --buildsystem=pybuild
